<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- jQuery & underscore-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

    <!-- Atlassian User Interface (AUI) -->
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.10.1/css/aui.css" media="all">
    <script src="//aui-cdn.atlassian.com/aui-adg/5.10.1/js/aui.js" type="text/javascript"></script>

    <script src="{{atlassian-connect-all-js-url}}" type="text/javascript"></script>


    <!-- Some additional AUI components that we currently do not need but might in the future -->

    <!--<link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.10.1/css/aui-experimental.css" media="all">-->
    <!--<script src="//aui-cdn.atlassian.com/aui-adg/5.10.1/js/aui-soy.js" type="text/javascript"></script>-->
    <!--<script src="//aui-cdn.atlassian.com/aui-adg/5.10.1/js/aui-datepicker.js"></script>-->
    <script src="//aui-cdn.atlassian.com/aui-adg/5.10.1/js/aui-experimental.js"></script>

    <script src="/js/config-form.js"></script>

    <style>
        body { background-color: #fff; }
    </style>
</head>
<body class="aui-page-hybrid">

<form class="aui top-label">
    <fieldset class="top-label">
        <div class="field-group top-label">
            <label for="room-id">Room ID<span class="aui-icon icon-required"> required</span></label>
            <input class="text" type="text" id="room-id" title="HipChat room ID" value="2618864">
        </div>
        <div class="field-group">
            <label for="notification-token">Notification token<span class="aui-icon icon-required"> required</span></label>
            <input class="text" type="text" id="notification-token" title="Room notification token" value="H6VIOnlO5HYYIyNgN3869KPGKHilCH4Jke3B69Ao">
        </div>
        <div class="field-group">
            <label for="message">Message<span class="aui-icon icon-required"> required</span></label>
            <textarea class="textarea" id="message" title="Message">
Hi there, a new JSD ticket has been created:
            </textarea>
        </div>
    </fieldset>
</form>

<p>
    <strong>Room ID</strong> and <strong>Notification token</strong> are used to identify, authenticate and gain permission to post a notification to your HipChat room. To obtain them:
    <ol>
        <li>Go to https://{yourcompany}.hipchat.com/rooms, pick a room</li>
        <li>In the <strong>Summary</strong> section, take note of the <strong>API ID</strong>, this is your <strong>Room ID</strong></li>
        <li>In the <strong>Tokens</strong> section, create a new token with <strong>Send Notification</strong> scope, give it a label <strong>JSD HipChat Demo</strong>. This will be your <strong>Notification token</strong></li>
    </ol>
</p>

</body>
</html>
